DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# Database Credentials for Docker
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# pgAdmin Credentials
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=